.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--main-bg-color);
  transition: 0.2s;
  overflow: hidden;
  .content {
    display: flex;
    height: 100%;
    overflow: hidden;
  }

  .workspace {
    flex: 2;
    border-left: 1px dashed rgba(0, 0, 0, 0.1);
    padding: 32px 32px 0 32px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.sidebar {
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include xs {
    display: none;
  }

  .link {
    margin: 16px 0;
    transition: 0.2s;
    border-radius: var(--global-border-radius);
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    &:hover,
    &.active {
      color: var(--text-color-inverse);
      background-color: var(--brand-primary);
    }
  }
}

.topbar {
  background-color: var(--main-bg-color);
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 24px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);

  .left,
  .right {
    display: flex;
    align-items: center;
  }

  .left {
    flex-grow: 1;
    .icon {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      position: relative;
      font-size: 30px;
      transform: rotate(-38deg);
      transition: all 400ms ease;
      cursor: pointer;

      svg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 400ms ease;
        &:nth-child(2) {
          opacity: 0;
        }
      }
      &:hover {
        transform: rotate(-397deg);
        svg:nth-child(2) {
          opacity: 1;
        }
        svg:nth-child(1) {
          opacity: 0;
        }
        svg:nth-child(2) {
          opacity: 1;
        }
      }
    }

    .name {
      color: var(--main-text-color);
      margin: 0;
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
      margin: 0 32px;
    }
  }

  .right {
  }
}

.form-container {
  display: block;
  position: sticky;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 25px 20px;
  border-radius: $global-border-radius * 3;
  box-shadow: 4px 5px 12px rgba(0, 0, 0, 0.3);

  @include md {
    top: -32px;
    z-index: 10;
  }

  .check {
    display: block;
    min-height: 1.5rem;
    margin-bottom: 0.125rem;

    .check-label {
      padding-left: 10px;
    }

    .check-input input:checked {
      background-color: #0d6efd;
      border-color: #0d6efd;
    }
  }
}

.counter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .counter-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 0 30px 0 0;
    h4 {
      margin: 0;
    }
    small {
      color: #a6a6a6;
    }
  }
}

.counter {
  display: inline-flex;
  button {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  input {
    width: 40px;
    height: 30px;
    border: none;
    text-align: center;
  }
}

.flight_details {
  display: flex;
}

.text-center {
  text-align: center;
}

.block-section {
  padding: 60px 0;

  #flights-1 {
    position: relative;
    background-image: url('https://media.istockphoto.com/photos/passenger-airplane-flying-above-clouds-during-sunset-picture-id155439315?k=20&m=155439315&s=612x612&w=0&h=BvXCpRLaP5h1NnvyYI_2iRtSM0Xsz2jQhAmZ7nA7abA=');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &:before {
      position: ansolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
